<p id="notice"><%= notice %></p>

<p>
  <strong>E-mail:</strong>
  <%= @user.email %>
</p>

<p>
  <strong><%= User.human_attribute_name('clients') %>:</strong>
  <ul>
  <% @user.clients.each do |client| %>
    <li><%= client.name %></li>
  <% end %>
  </ul>
</p>

<%= link_to t('actions.edit'), edit_user_path(@user) %> |
<%= link_to t('actions.back'), users_path %>
