<p id="notice"><%= notice %></p>

<p>
  <strong>E-mail:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Clients:</strong>
  <ul>
  <% @user.clients.each do |client| %>
    <li><%= client.name %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
