<p><%= t('.hello_line', :email => @resource.email) %></p>

<p><%= t('.someone_has_requested_line') %></p>

<p><%= link_to t('.change_my_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('.if_youdidnt_line') %></p>
<p><%= t('.your_password_wont_change_line') %></p>
