<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only"><%= t('.toggle_navigation') %></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-left" href="/" style="margin-left: 20px;">
          <%= cl_image_tag(AppSetting.settings.logo, :height => 50, :crop => :scale) %>
        </a>
        <a class="navbar-brand" href="/">
          <h4><%= AppSetting.settings.app_title %></h4>
        </a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        <li><%= current_user.email %></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                  <%= link_to edit_user_registration_path(current_user) do %>
                    <i class="fa fa-user fa-fw"></i> <%= t('.change_password') %>
                  <% end %>


                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to destroy_user_session_path, :method => :delete do %>
                    <i class="fa fa-sign-out fa-fw"></i> <%= t('.log_out') %>
                  <% end %>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
              <li>
                <%= link_to clients_path do %>
                  <i class="fa fa-suitcase fa-fw"></i> <%= t('.clients') %>
                <% end %>
              </li>
              <li>
                <%= link_to accounts_path do %>
                  <i class="fa fa-folder fa-fw"></i> <%= t('.accounts') %>
                <% end %>
              </li>
              <% if can? :manage, User %>
              <li>
                <%= link_to users_path do %>
                  <i class="fa fa-users fa-fw"></i> <%= t('.users') %>
                <% end %>
              </li>
              <% end %>
              <% if can? :manage, AppSetting %>
              <li>
                <%= link_to edit_app_settings_path do %>
                  <i class="fa fa-wrench fa-fw"></i> <%= t('.app_settings') %>
                <% end %>
              </li>
              <% end %>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
