<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Accounts</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Currency</th>
              <th>Client</th>
              <% if can? :manage, :account %>
              <th colspan="4"></th>
              <% end %>
            </tr>
          </thead>

          <tbody>
            <% @accounts.each do |account| %>
              <tr>
                <td>
                  <%= link_to account_account_movements_path(account) do %>
                    <%= account.name %>
                  <% end %>
                </td>
                <td><%= account.currency %></td>
                <td><%= account.client.name %></td>
                <% if can? :manage, :account %>
                <td>
                <%= link_to 'Import Movements',
                            new_account_import_account_movement_path(account),
                            class: 'btn btn-primary btn-xs' %></td>
                <td><%= link_to 'Show', account, class: 'btn btn-default btn-xs' %></td>
                <td><%= link_to 'Edit', edit_account_path(account), class: 'btn btn-default btn-xs' %></td>
                <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-xs' %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%= will_paginate @accounts %>
    </div>
  </div>
<% if can? :manage, :account %>
<%= link_to 'New Account', new_account_path, class: 'btn btn-primary btn-sm' %>
<% end %>
